@media (max-width: 1170px) {
  .section__inner{
    display: block;
  }
  .section__item{
    margin: 0 auto 20px;
  }
}
@media (max-width: 1145px) {
  .header-slider{
    display: none;
  }
  .header__bottom-catalog::before{
    content: "\e9bd";
    font-size: 20px;
    top: 15px;
  }
  .header__content-options{
    display: none;
  }
  .header__bottom-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header__bottom{
    border: none;
  }
  .header-search__btn{
    margin-bottom: 0;
    input{
      padding: 10px 15px 10px 40px;
    }
    button{
      left: 10px;
      font-size: 18px;
      top: 8px;
    }
  }
  .header__bottom-catalog{
    min-width: 202px;
    border-radius: 6px;
  }
  .header-search{
    display: none;
  }
  .header-search--mobile{
    padding-left: 10px;
    display: block;
    width: 100%;
  }
  .header__bottom-sales{
    padding: 0;
    display: flex;
    margin-left: 20px;
  }
  .header__bottom-icon{
    & + &{
      margin-left: 15px;
    }
    display: inline-block;
    &::before{
      font-family: 'icomoon';
      font-size: 20px;
    }
  }
  .header__right{
    display: none;
  }
  .header__right-content--mobile{
    display: block;
    margin-left: 30px;
    a{
      color: $blue;
    }
  }
  .sales{
    display: none;
  }
  .header__comparison::before{
    content: "\e99c";
  }
  .header__favorite::before{
    content: "\e9da";
  }
  .header__basket::before{
    content: "\e93a";
  }
}
@media (max-width: 1040px) {
  .footer__item + .footer__item{
    margin-left: 30px;
  }
  .benefits__item-title{
    padding-top: 40px;
  }
  .benefits__inner{
    flex-wrap: wrap;
    margin-left: -15px;
  }
  .benefits__item{
    max-width: 265px;
    margin-bottom: 25px;
    padding-left: 15px;
  }
  .popular-categories{
    min-height: 800px;
  }
  .popular-categories__inner{
    flex-wrap: wrap;
  }
  .popular-categories__item--first{
    flex-basis: 85%;
    margin-bottom: 20px;
    height: 300px;
  }
  .popular-categories__items{
    flex-basis: 60%;
    margin-right: 0;
  }
  .popular-categories__items .popular-categories__item{
    margin-left: 0;
  }
  .popular-categories__items .popular-categories__item:nth-child(2){
    margin-left: 20px;
  }
}  
@media (max-width: 1000px) {
  .section__item-wrappper{
    justify-content: center;
    width: auto;
  }
  .sale-icon{
    top: 185px;
  }
  .section__line{
    max-width: 230px;
  }
  .section__line-img img{
    max-width: 185px;
  }
}
@media (max-width: 940px) {
  .footer__content{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__contacts-form{
    margin: 0 auto 20px;
  }
  .footer__contacts{
    margin-bottom: 30px;
    flex-basis: 100%;
    text-align: center;
    .contacts{
      display: inline-block;
    }
  }
  .footer__contacts-address{
    display: inline-block;
    margin-left: 30px;
  }
  .footer__items{
    margin-left: 0;
    padding-bottom: 50px;
  }
  .articles__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .articles__side+.articles__side{
    margin-left: 0;
    margin-top: 30px;
  }
  .catalog-menu__line:hover .menu-content{
    display: none;
  }
  .catalog-menu__wrapper{
    top: 52px;
  }
  .catalog-menu__line .catalog-menu__line-link {
    padding: 8px 15px 8px 40px;
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .questions__btn a{
    padding: 10px 20px;
    font-size: 14px;
  }
  .questions__title {
    font-size: 19px;
    margin-bottom: 0px;
  }
  .questions__line {
    margin-top: 15px;
    padding-left: 40px;
    &::before{
      top: 2px;
      font-size: 24px;
    }
  }
  .about-us__item-text{
    font-size: 14px;
    line-height: 18px;
  }
  .about-us__item-title{
    margin-bottom: 10px;
    font-size: 18px;
  }
  .advantages__inner{
    flex-wrap: wrap;
  }
  .advantages-sale{
    margin-top: 20px;
    margin-left: 0;
  }
  .header__right-content--mobile{
    max-width: 165px;
  }
  .header__nav{
    position: relative;
    margin-bottom: 30px;
  }
  .header__nav-list{
    display: none;
  }
  .header-burger{
    position: absolute;
    right: 0px;
    cursor: pointer;
    display: block;
    div{
      width: 30px;
      height: 3px;
      margin-top: 7px;
      background-color: $blue;
    }
  }
}
@media (max-width: 850px) {
  .benefits__item{
    max-width: 208px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .footer-bottom{
    flex-wrap: wrap;
  }
  .footer-bottom__item-line + .footer-bottom__item-line{
    margin-left: 10px;
  }
  .footer-bottom__item{
    display: block;
    width: 100%;
    & + .footer-bottom__item{
      margin-top: 30px;
    }
  }
  .footer-bottom__item-list{
    margin-top: 10px;
  }
  .news__inner{
    flex-wrap: wrap;
    max-height: 100%;
  }
  .news__slider{
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .news__items{
    max-width: 100%;
    margin-left: 0;
  }
  .news__item:nth-child(1){
    margin-left: 0;
  }
  .news__item:nth-child(2){
    margin-left: 0;
  }
  .news__item:nth-child(3){
    flex-basis: 50%;
  }
}
@media (max-width: 730px) {
  .advantages__item{
    display: block;
    max-width: 100%;
    & + .advantages__item{
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .about__inner{
    display: block;
  }
  .questions{
    margin-top: 30px;
    max-width: 100%;
    margin-left: 0;
  }
  .questions__btn{
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  .footer__item-title{
    margin-bottom: 5px;
    font-size: 14px;
  }
  .footer__item-line{
    font-size: 10px;
    & + .footer__item-line{
      margin-bottom: 5px;
    }
  }
  .footer__item+.footer__item{
    margin-left: 15px;
  }
  .title{
    font-size: 20px;
  }
  .benefits__inner{
    max-width: 630px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .header__logo img{
    width: 100px;
  }
  .header__right-content--mobile{
    display: none;
  }
  .contacts-phone{
    font-size: 15px;
  }
  .header__location{
    display: none;
  }
  .header__col{
    padding: 10px 0;
  }
  .header__nav{
    position: absolute;
    right: 25px;
  }
} 
@media (max-width: 620px) {
  .footer__contacts-copy{
    font-size: 12px;
  }
  .footer__contacts-address{
    display: block;
    margin: 0 auto;
  }
  .title{
    font-size: 17px;
  }
  .popular-categories{
    min-height: 980px;
  }
  .popular-categories__item--last{
    flex-basis: 85%;
    margin-top: 20px;
    height: 300px;
  }
  .popular-categories__items{
    flex-basis: 85%;
    height: 300px;
    .popular-categories__item:nth-child(1){
      flex-basis: 50%;
    }
    .popular-categories__item:nth-child(3){
      flex-basis: 100%;
    }
  }
}
@media (max-width: 560px) {
  .header__logo img{
    width: 100px;
  }
  .header__col{
    width: 100px;
  }
  .news__slider {
    max-height: 300px;
  }
  .header__bottom-inner{
    position: relative;
    padding-top: 45px;
  }
  .header-search--mobile{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
  }
  .header__bottom-catalog{
    padding: 5px 10px 5px 30px;
    min-width: 151px;
    &::before{
      font-size: 16px;
      left: 9px;
      top: 5px;
    }
  }
  .header__bottom-sales{
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 540px) {
  .news__items{
    min-height: 270px;
  }
  .news__item-title{
    font-size: 14px;
    line-height: 16px;
  }
  .news__text{
    font-size: 11px;
  }
  .contacts-schedule{
    display: none;
  }
  .header__inner{
    position: relative;
  }
  .header__nav{
    position: static;
    margin-bottom: 0;
  }
  .header-burger{
    position: absolute;
    left: 110px;
    top: 10px;
  }
  .header{
    .contacts-phone{
      position: absolute;
      right: -10px;
      max-width: 100px;
      font-size: 12px;
      span{
        font-size: 12px;
      }
    }
    .contacts-phone + .contacts-phone{
      display: none;
    }
  }  
}
@media (max-width: 500px) {
  .footer__items{
    display: block;
  }
  .footer__item+.footer__item{
    margin-left: 0;
    margin-top: 30px;
  }
  .articles__side-top{
    padding: 10px 0;
  }
  .articles__side-title{
    font-size: 14px;
  }
  .articles__side-title-link{
    font-size: 13px;
  }
  .articles-item__img{
    width: 90px;
    height: 90px;
    margin-bottom: 0px;
    img{
      width: 90px;
      height: 90px;
    }
  }
  .articles__side-item{
    max-width: 90px;
  }
  .articles-item__title,
  .articles-item__date{
    font-size: 11px;
    line-height: 16px;
  }
  .section__line-bottom-btn{
    font-size: 11px;
    padding: 5px 10px;
  }
  .add-btnTo{
    font-size: 12px;
    margin-left: 0;
  }
  .item-status__wrapper{
    top: 10px;
    left: 10px;
  }
  .item-status{
    width: 25px;
    height: 25px;
    padding-top: 3px;
    font-size: 8px;
  }
  .section__line{
    max-width: 150px;
  }
  .section__line-title{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .section__line-pricebox{
    font-size: 12px;
  }
  .sale-icon{
    top: 115px;
    font-size: 12px;
    line-height: 12px;
  }
  .section__line-img{
    max-width: 120px;
    img{
      max-width: 120px;
    }
  }
  .popular-categories__item-title{
    font-size: 12px;
  }
  .popular-categories__item{
    padding: 10px;
  }
  .popular-categories__items,
  .popular-categories__item--first,
  .popular-categories__item--last{
    flex-basis: 100%;
    height: 200px;
  }
  .title{
    font-size: 14px;
  }
  .news__item{
    padding: 15px 10px 10px;
  }
  .section__line{
    padding: 10px;
  }
  .popular-categories{
    min-height: 680px;
  }
}
@media (max-width: 460px) {
  .about-us__item+.about-us__item{
    margin-top: 20px;
  }
  .questions__title{
    font-size: 16px;
  }
  .benefits__item {
    max-width: 140px;
    padding-left: 10px;
  }
  .benefits__inner{
    justify-content: space-around;
    margin-left: -10px;
  }
  .benefits__item-title{
    font-size: 11px;
    padding-top: 40px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .benefits__item-text{
    font-size: 12px;
    line-height: 16px;
  }
}
