@import "vars";
@import "fonts";
@import "global";
.haeder{
  padding: 10px 0;
  z-index: 2;
  background-color: #fff;
}
.header__inner{
  display: flex;
}
.header__col{
  width: 220px;
}
.header__location{
  color: $blue;
  font-size: 17px;
  padding-left: 20px;
  position: relative;
  outline: none;
  margin-bottom: 20px;
  &::before{
    position: absolute;
    content: "\e949";
    left: 0;
    font-family: 'icomoon';
    font-size: 14px;
    top: 3px;
  }
}
.header__logo{
  display: block;
  font-weight: 700;
  font-size: 50px;
  img{
    width: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.header__content{
  padding: 0 15px;
  max-width: 720px;
  width: 100%;
}
.header__nav{
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
  cursor: context-menu;
  li{
    display: inline-block; 
    transition: all .3s;
    &:hover{
      color: $blue;
    }
    & + li{
      margin-left: 20px;
    }
  }
}
.header__content-bottom{
  display: flex;
}
.header__contacts{
  margin-right: 30px;
}
.contacts-phone{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  span{
    font-weight: 400;
    font-size: 14px;
  }
}
.contacts-schedule{
  font-weight: 400;
  font-size: 14px;
}
.contacts-link{
  margin-left: 20px;
  color: $blue;
}
.header-search{
  min-width: 330px;
}
.header-search__btn{
  position: relative;
  margin-bottom: 15px;
  input{
    width: 100%;
    border: 1px solid rgb(185, 177, 177);
    padding: 15px 25px;
    border-radius: 30px;
    outline: none;
  }
}
.header-search__icon{
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 12px;
  color: rgb(151, 151, 151);
}
.header__content-options{
  font-size: 14px;
  color: #555;
  position: relative;
  padding-left: 20px;
  margin-left: 15px;
  &::before{
    content: "\e993";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: $blue;
  }
}
.header__right{
  max-width: 250px;
  width: 100%;
}
.header__right-buttons{
  margin-bottom: 20px;
}
.header__right-btn{
  padding-left: 34px;
  position: relative;
  padding-top: 3px;
  &::before{
    content: "";
    border: 1px solid #b9b9b9;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &::after{
    position: absolute;
    content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.header__right-comparison::after{
  background-image: url(../img/compare_header.svg);
  width: 25px;
  height: 25px; 
  left: 2px;
  top: 2px;
}
.header__right-favorite{
  margin-left: 20px;
  &::after{
    background-image: url(../img/wishlist.svg);
    width: 17px;
    height: 15px;
    left: 6px;
    top: 8px;
  }
}  
.header__right-wrapper{
  display: flex;
}
.header__right-content{
  width: 162px;
  margin-right: 20px;
  a{
    color: $blue;
  }
}
.header__right-basket{
  font-size: 16px;
  position: relative;
  padding-top: 35px;
  &::before{
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/shopping-cart.svg);
  }
}

.header__bottom-inner{
  display: flex;
}
.header__bottom-catalog{
  padding: 15px 20px 15px 50px;
  background-color: $blue;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  &::before{
    position: absolute;
    content: "\ea77";
    left: 20px;
    top: 21px;
    font-family: 'icomoon';
    font-size: 20px;
  }
}
.header__right-content--mobile{
  display: none;
}
.header-slider{
  display: inline-block;
  border-right: 1px solid #e2e2e2;
  padding: 0 10px;
}
.header-slider__item{
  display: inline-block;
  font-weight: 500;
  padding: 20px 7px;
  position: relative;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
  .menu-content{
    top: 62px;
    left: -10px;
  }
}
.header-slider__chandelier:hover .chandelier-box{
  width: 638px;
  opacity: 1;
  padding: 20px;
}

.header-slider__wall:hover .wall-box{
  width: 638px;
  opacity: 1;
  padding: 20px;
}

.header__bottom{
  margin-top: 20px;
  border-top: 1px solid #e2e2e2; 
  border-bottom: 1px solid #e2e2e2; 
}
.header__bottom-sales{
  display: inline-block;
  margin-left: 10px;
  padding-left: 30px;
  font-weight: 500;
}

.swiper-container {
  width: 600px;
  height: 300px;
}
.header__bottom-catalog{
  position: relative;
  transition: all .3s;
  &:hover{
    background-color: #4aa9fc;
  }
}
.catalog-menu__wrapper{
  position: absolute;
  color: #000;
  background-color: #fff;
  opacity: 0;
  width: 0;
  z-index: 5;
  min-width: 0;
  overflow: hidden;
  transition: all .3s;
  top: 62px;
  left: 0;
}

.header__bottom-catalog:hover {
  & .catalog-menu__wrapper{
    min-width: 270px;
    overflow: visible;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  & .catalog-menu{
    width: 270px;
  }
}
.header__bottom-icon{
  display: none;
}
.header-search--mobile{
  display: none;
}
.catalog-menu{
  border-right: 1px solid #ececec;
  width: 0;
  transition: all .3s;
}
.catalog-menu__line{
  transition: all .3s;
  &:hover{
    background-color: $blue;
    color: #fff;
    .catalog-menu__line-link::before{
      color: #fff;
    }
  }
  .catalog-menu__line-link{
    padding: 15px 20px 15px 40px;
    position: relative;
    &::before{
      content: "\e900";
      position: absolute;
      left: 15px;
      color: $blue;
      font-family: 'icomoon';
    }
  }
  & + .catalog-menu__line {
    border-top: 1px solid #ececec;
  }
}
.menu-content{
  position: absolute;
  left: 270px;
  top: 0;
  display: flex;
  width: 0;
  opacity: 0;
  transition: all .3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: hidden;
  background-color: #fff;
  z-index: 5;
}
.catalog-menu__line--1:hover{
  &::before{
    color: #fff;
  }
  & .menu-content--1{
    width: 638px;
    opacity: 1;
    padding: 20px;
  }
}  
.catalog-menu__line--2:hover{
  & .menu-content--2{
    width: 638px;
    opacity: 1;
    padding: 20px;
  }
} 


.menu-content__links{
  color: $blue;
  font-weight: 700;
  margin-right: 60px;
  a{
    padding-left: 20px;
    transition: all .3s;
    &:hover{
      transform: scale(1.1);
    }
  }
  li + li{
    margin-top: 15px;
  }
}
.menu-content__items{
  column-count: 2;
  column-gap: 60px;
  column-width: 100px;
}
.menu-content__item{
  color: #555;
  margin-bottom: 20px;
}
.menu-content__item-title{
  font-size: 18px;
  margin-bottom: 15px;
}
.menu-content__subitem{
  margin-bottom: 10px;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
}
.news{
  margin: 30px 0 60px;
}
.news__inner{
  display: flex;
  max-height: 400px;
}
.news__slider{
  max-width: 670px;
  width: 100%;
  background-color: rgb(0, 47, 177);
  max-height: 380px;
  margin-right: 20px;
}
.news__items{
  max-width: 480px;
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}
.news__item{
  flex-basis: calc(50% - 20px);
  margin-left: 20px;
  background-color: rgb(174, 255, 228);
  color: #555;
  font-weight: 700;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 20px 20px;
  span{
    padding-bottom: 2px;
    position: relative;
    &::before{
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #000;
    }
  }
}
.news__item-delivery{
  flex-basis: 100%;
  margin-bottom: 20px;
  background-color: rgb(234, 255, 175);
}
.news__item-title{
  font-size: 18px;
  margin-bottom: 10px;
}
.news__text{
  font-weight: 400;
}
.popular-categories{
  margin: 50px 0;
}
.popular-categories__inner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 440px;
}
.popular-categories__item{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.popular-categories__item--first{
  background-color: rgb(115, 255, 0);
  flex-basis: 40%;
  height: 100%;
}
.popular-categories__item--last{
  background-color: rgb(115, 255, 0);
  flex-basis: 25%;
  height: 100%;
}
.popular-categories__items{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 35%;
  margin-right: 20px;
  .popular-categories__item{
    margin-left: 20px;
  }
  .popular-categories__item:nth-child(1){
    background-color: rgb(255, 0, 0);
    flex-basis: calc(50% - 20px);
    height: calc(50% - 20px);
  }
  .popular-categories__item:nth-child(2){
    background-color: rgb(255, 145, 0);
    flex-basis: calc(50% - 20px);
    height: calc(50% - 20px);
  }
  .popular-categories__item:nth-child(3){
    background-color: rgb(0, 110, 255);
    flex-basis: calc(100% - 20px);
    height: 50%;
    margin-top: 20px;
  }
}
.section{
  margin: 50px 0;
}
.section__inner{
  display: flex;
  justify-content: space-between;
  min-height: 376px;
}
.section__item{
  max-width: 560px;
  width: 100%;
}
.section__item-wrappper{
  display: flex;
  .section__line + .section__line{
    border-left: none;
  }
}
.section__line{
  border: 1px solid #e2e2e2;
  padding: 20px;
  position: relative;
  max-width: 280px;
  display: flex;  
  align-items: flex-end;
  transition: all .3s;
  &:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  &.new .item-status__new{
    display: block;
  }
  &.led .item-status__led{
    display: block;
  }
}
.section__line-img{
  max-width: 200px;
  margin: 0 auto 10px;
  img{
    max-width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.section__line-title{
  color: $blue;
  margin-bottom: 20px;
  max-width: 283px;
}
.section__line-pricebox{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.section__line-price{
  font-weight: 700;
}
.section__line-oldprice{
  color: rgb(133, 133, 133);
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(145, 0, 0);
    top: 10px;
  }
}
.sale-icon{
  padding: 5px;
  background-color: rgb(241, 7, 7);
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  position: absolute;
  top: 200px;
}
.item-status__wrapper{
  position: absolute;
  top: 20px;
  left: 20px;
}
.item-status{
  font-weight: 700;
  font-size: 11px;
  width: 35px;
  height: 35px;
  padding-top: 8px;
  text-align: center;
  border-radius: 50%;
  display: none;
  & + .item-status{
    margin-top: 10px;
  }
}
.item-status__led{
  background-color: rgb(255, 228, 110);
  color: #000;
}
.item-status__new{
  background-color: rgb(0, 132, 255);
  color: rgb(255, 255, 255);
}
.section__line-bottom{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__line-bottom-btn{
  padding: 10px 15px;
  background-color: #66C209;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  transition: all .3s;
  &:hover{
    background-color: #9ef844;
  }
}

.add-btnTo{
  margin-left: 10px;
  display: inline-block;
  font-size: 20px;
  color: #bbbbbb;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
}

.advantages__inner{
  display: flex;
  justify-content: center;
}
.advantages__item{
  max-width: 325px;
  width: 100%;
  padding: 25px;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 255, 76);
  & + .advantages__item{
    margin-left: 20px;
  }
}
.advantages__item-title{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.advantages-howToBuy__line{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.advantages-howToBuy__line-num{
  margin-right: 15px;
  min-width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
}
.advantages-delivery__text{
  max-width: 220px;
  width: 100%;
  span{
    display: block;
    margin-top: 20px;
  }
}
.advantages-sale{
  color: #fff;
}
.advantages-sale__line{
  position: relative;
  padding-left: 20px;
  &:before{
    content: "\ea42";
    top: 1px;
    position: absolute;
    left: 0;
    font-family: 'icomoon';
  }
  & + .advantages-sale__line{
    margin-top: 10px;
  }
}

.benefits__inner{
  display: flex;
  justify-content: space-between;
}
.benefits__item{
  max-width: 161px;
  width: 100%;
}
.benefits__item-title{
  position: relative;
  padding-top: 60px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
  &::before{
    font-family: 'icomoon';
    content: "\e956";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: $blue;
  }
}
.benefits__item-text{
  line-height: 21px;
  span{
    font-weight: 700;
    color: #000;
  }
}
.articles__inner{
  display: flex;
  justify-content: space-between;
}
.articles__side{
  max-width: 540px;
  width: 100%;
  & + .articles__side{
    margin-left: 30px;
  }
  a{
    color: $blue;
    font-weight: 700;
  }
}
.articles__side-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
.articles__side-title{
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.articles__side-items{
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
}
.articles__side-item{
  max-width: 160px;
  width: 100%;
  margin-left: 10px;
}
.articles-item__img{
  margin-bottom: 15px;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  overflow: hidden;
  img{
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.articles-item__date{
  color: #999;
  margin-bottom: 5px;
  font-weight: 700;
}
.about__inner{
  display: flex;
  justify-content: space-between;
}
.about-us{
  max-width: 720px;
  width: 100%;
}
.questions{
  max-width: 385px;
  width: 100%;
  margin-left: 30px;
}
.about-us__item + .about-us__item{
  margin-top: 30px;
}
.about-us__item-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.about-us__item-text span{ 
  font-weight: 700;
}
.questions__title{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.questions__line{
  margin-top: 20px;
  padding-left: 60px;
  position: relative;
  &::before{
    position: absolute;
    content: "\ea09";
    font-family: 'icomoon';
    left: 0;
    top: 10px;
    font-size: 30px;
    color: $blue;
  }
}
.questions__btn a{
  padding: 15px 20px;
  background-color: $blue;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px; 
  margin-top: 30px;
  transition: all .3s;
  &:hover{
    background-color: #3c9df3;
  }
}
.title{
  font-size: 25px;
  margin-bottom: 20px;
}
.premises__item{
  width: 215px;
  height: 215px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s;
  &:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    & .premises__item-text{
      color: $blue;
    }
  } 
}
.premises__item-text{
  transition: all .3s;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.interior-style__item{
  max-width: 375px;
  width: 100%;
  height: 375px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s;
  &:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    & .interior-style__item-text{
      color: $blue;
    }
  } 
}
.interior-style__item-text{
  transition: all .3s;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
.brands__item{
  width: 270px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dadada;
  transition: all .3s;
  &:hover{
    border: 1px solid #999999;
  }
  img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 115px;
    height: 115px;
  }
}
.brands{
  margin-bottom: 100px;
}
.footer{
  background-color: #f4f4f4;
}
.footer__content-wrapper{
  padding: 50px 0;
  position: relative;
  border-bottom: 1px solid #ececec;
}
.footer__content{
  display: flex;
  justify-content: space-between;
}
.footer__contacts-title{
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__contacts-form{
  position: relative;
  max-width: 360px;
  width: 100%;
  margin-bottom: 20px;
  input{
    width: 100%;
    padding: 12px 25px;
    border: none;
    border-radius: 50px; 
  }
  button{
    position: absolute;
    right: 0;
    width: 150px;
    height: 100%;
    background-color: $blue;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    padding-left: 20px;
    font-size: 16px;
    transition: all .3s;
    &:hover{
      background-color: #4d9de2;
    }
    &::before{
      content: "\ea86";
      position: absolute;
      color: #fff;
      left: 13px;
      font-family: 'icomoon';
    }
  }
}
.footer__contacts-copy{
  position: absolute;
  bottom: 50px;
  color: #999
}
.footer__contacts-address{
  max-width: 260px;
  width: 100%;
}
.footer-phone span{
  color: #999;
}
.footer__items{
  display: flex;
  margin-left: 30px;
}
.footer__item + .footer__item{
  margin-left: 50px;
}
.footer__item-title{
  font-size: 17px;
  color: #000;
  margin-bottom: 20px;
}
.footer__item-line{
  margin-bottom: 10px;
  color: #666;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
}
.footer-bottom{
  padding: 30px 0;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
}
.footer-bottom__item{
  display: flex;
}
.footer-bottom__item-line{
  margin-left: 15px;
  font-size: 18px;
  display: inline-block;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
}
.news__slider-item{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header-burger{
  display: none;
}

.products__inner{
  display: flex;
  padding-bottom: 40px;
}
.products__aside{
  margin-right: 30px;
  max-width: 245px;
  width: 100%;
}
.aside-item{
  width: 100%;
  border: 1px solid #E9EAEC;
  &.active .aside-item__content{
    display: block;
  }
  &.active .aside-item__title::before{
    border-bottom: 5px solid #000;
    border-top: none;
  }
  & + .aside-item{
    margin-top: 15px;
  }
}
.aside-item__title{
  min-width: 100%;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
  padding: 14px 15px;
  background: #F6F6F6;
  cursor: pointer;
  position: relative;
  &::before{
    position: absolute;
    right: 15px;
    top: 20px;
    content: ''; 
    border: 5px solid transparent;
    border-top: 5px solid $blue;
  }
}
.aside-item__content{
  background-color: #fff;
  display: none;
}
.aside-item__checkbox-value{
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  & + &{
    margin-top: 10px;
  }
  &.exception{
    display: inline-block;
    .aside-item__checkbox-name{
      &::before{
        top: 0;
      }
      &::after{
        top: 0;
      }
    }
    & + .aside-item__checkbox-value.exception{
      margin-left: 15px;
    }
    .aside-item__checkbox-name{
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      color: #444;
    }
  }
  &.checked .aside-item__checkbox-name::after{
    opacity: 1;
  }
}
.aside-item__checkbox-name{
  font-size: 13px;
  color: #333;
  padding-left: 25px;
  &::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/checkbox-check.svg);
    position: absolute;
    top: 2px;
    left: 1px;
    z-index: 2;
    opacity: 0;
  }
  &::before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #ccc;
    position: absolute;
    top: 2;
    left: 0;
    z-index: 1;
  }
}
.aside-item__select-title{
  font-size: 16px;
}
.aside-item__select-wrapper{
  position: relative;
  display: inline-block;
  &::before{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/down-arrow.svg");
    content: "";
    position: absolute;
    right: 10px;
    top: 16px;
    width: 10px;
    height: 5px;
  }
  select{
    border: 1px solid #DFDFDF;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
    appearance: none;
  }
}
.aside-item__size-line{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  label{
    font-size: 13px;
    width: 105px;
  }
}
.aside-item__size-inputs{
  display: flex;
  input{
    width: 45px;
    height: 34px;
    background: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    color: #999;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    & + input{
      margin-left: 5px;
    }
  }
}
.aside-item__tab-title{
  position: relative;
  cursor: pointer;
  font-weight: 700;
  &::before{
    content: "+";
    position: absolute;
    right: 15px;
    top: 15px;
    color: $blue;
    font-size: 18px;
  }
}
.aside-item__tab-content{
  display: none;
}
.aside-item__tab.active{
  .aside-item__tab-content{
    display: block;
  }
  .aside-item__tab-title{
    padding-bottom: 0;
    border-bottom: none;
  }
  .aside-item__tab-title::before{
    content: "";
    height: 2px;
    width: 10px;
    top: 23px;
    background-color: #000;
  }
}
.aside-item__btn-more{
  margin-top: 10px;
  span{
    cursor: pointer;
    font-size: 13px;
    color: #1F78C7;
    border-bottom: 1px dotted #9DC6EA;
  }
}

.aside__buttons{
  margin-top: 20px;
}
.aside__buttons-item{
  display: block;
  height: 46px;
  width: 100%;
  border-radius: 4px;
  border: none;
}
.aside__buttons-apply{
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background: #1F78C7;
}
.aside__buttons-clear{
  margin-top: 10px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #DDD;
}
.products__content{
  max-width: 890px;
  width: 100%;
}
.products__content-title{
  font-size: 30px;
  margin-bottom: 30px;
}
.products__content-list{
  display: flex;
}
.products__content-type{
  display: flex;
}
.filter-button{
  display: none;
}
.products__content-type-line{
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
  border-bottom: 1px dotted #999;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    color: $blue;
    border-bottom: 1px solid $blue;
  }
}
.products__content-link{
  margin-left: 10px;
  color: $blue;
  padding-right: 10px;
  position: relative;
  transition: all .3s;
  &:hover{
    color: #61b1e7;
  }
  &::after{
    position: absolute;
    content: "";
    right: 0;
    background-image: url(../img/arrow-left.svg);
    width: 6px;
    top: 6px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.products__content-list-title{
  font-weight: 700;
  color: #1F78C7;
  cursor: default
}
.product-catalog{
  display: flex;
  margin-top: 20px;
}
.product-catalog__item{
  width: 92px;
  min-height: 150px;
  border: 1px solid #E9EAEC;
  text-align: center;
  padding: 20px 10px 10px;
  transition: all .3s;
  color: #444;
  &:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: $blue;
  }
  & + &{
    margin-left: 20px;
  }
}
.product-catalog__item-title{
  margin-top: 10px;    
  font-size: 12px;
  line-height: 16px;
  max-width: 90px;
  white-space: normal;
}
.product-catalog__item-img img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-catalog__item-plus{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1.5px dashed $blue;
  margin: 0 auto 20px;
  position: relative;
  &::before{
    content: "+";
    position: absolute;
    font-size: 50px;
    left: 18px;
    top: 19px;
    color: $blue;
  }
}
.product__content-settings{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}
.product__content-switch{
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 22px;
  border-radius: 18px;
  background: #66C209;
  cursor: pointer;
  display: inline-block;
  margin: 0 9px;
  transition: all .3s;
}
.switch-circle{
  transition: all .3s;
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  top: 50%;
  margin-top: -9px;
  left: 2px;
  right: auto;
  background: #f7f7f7;
}
.show-by{
  display: flex;
}
.show-by__numbers{
  margin-left: 15px;
  margin-right: 20px;
  font-size: 14px;
  color: #999;
}
.show-by__num{
  cursor: pointer;
  &+&{
    margin-left: 7px;
  }
  &.active{
    color: $blue;
  }
}
.show-by__btn{
  font-size: 20px;
  color: #999;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    color: #9DC6EA;
  }
  &+&{
    margin-left: 7px;
  }
  &.active{
    color: $blue;
  }
}
.switch__text{
  color: #888;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
}
.switch__text.checked{
  font-weight: 500;
  color: #333;
  &:hover{
    color: #333;
  }
}
.switch{
  display: inline-block;
  margin-left: 25px;
}
.product__content-switch.checked{
  background-color: $blue;
  .switch-circle{
    left: auto;
    right: 2px;
  }
}
.product-items{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  .section__line-img{
    position: relative;
    &::before{
      opacity: 0;
      content: "Быстрый просмотр";
      width: 161px;
      height: 40px;
      cursor: pointer;
      font-weight: 700;
      font-size: 13px;
      color: #fff;
      background: rgba(51, 51, 51, 0.55);
      border-radius: 50px;
      position: absolute;
      text-align: center;
      padding-top: 9px;
      left: calc(50% - 80px);
      top: 50%;
      transform: translateY(-50%);
      transition: all .4s;
    }
  }
  .section__line{
    transition: all .4s;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33.33333% - 20px);
    &:hover .section__line-img::before{
      opacity: 1;
    }
  }
  .section__line-title{
    margin-bottom: 5px;
  }
  .section__line-price{
    font-size: 22px;
    color: #222;
    font-weight: 400;
  }
  .item-status__wrapper{
    display: flex;
    top: 20px;
    z-index: 2;
  }
  .item-status+.item-status{
    margin-top: 0;
    margin-left: 10px;
  }
}
.section__line-stock{
  color: #37A72E;
  font-size: 12px;
}
.section__line-info{
  font-size: 13px;
  line-height: 17px;
  color: #829198;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section-description__col{
  display: none;
  columns: 2;
  column-gap: 70px;
  max-width: 365px;
  &-line{
    width: 180px;
  }
}

.product-items.list{
  .section__line{
    flex-basis: 100%;
    max-width: 100%;
  }
  .item-status__wrapper{
    display: none;
  }
  .section__line-title{
    font-weight: 500;
    font-size: 16px;
  }
  .section__line-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .section__line-img{
    margin: 0;
  }
  .section__line-pricebox{
    position: absolute;
    top: 0;
    right: 0;
    order: -1;
  }
  .section__line-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    text-align: right;
    border-left: 1px solid #e2e2e2;
  }
  .section__line-description{
    margin: 0 15px;
  }
  .section-description__col{
    display: block;
  }
  .add-btn{
    order: -1;
    padding-right: 10px;
  }
}
.show-more-button{
  width: 100%;
  padding: 15px;
  background-color: #F8F8F8;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    color: $blue;
  }
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__list{
  margin: 0 30px;
}
.pagination__line{
  display: inline-block;
  transition: all .3s;
  &:hover{
    color: $blue;
  }
  &.active{
    color: $blue;
  }
  & + & {
    margin-left: 30px;
  }
}
.pagination__prev-btn{
  border: 1px solid #DDD;
  color: #333;
  padding: 8px 20px 8px 40px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    color: $blue;
    border-color: $blue;
  }
  &::before{
    position: absolute;
    top: 8px;
    left: 16px;
    content: "\ea44";
    font-family: 'icomoon';
    color: #7b7b7b;
  }
}
.pagination__next-btn{
  border: 1px solid #DDD;
  color: #333;
  padding: 8px 40px 8px 20px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    color: $blue;
    border-color: $blue;
  }
  &::before{
    position: absolute;
    top: 9px;
    right: 16px;
    content: "\ea42";
    font-family: 'icomoon';
    color: #7b7b7b;
  }
}
.bestsellers{
  margin: 60px 0 30px;
  .section__line{
    max-width: 207px;
  }
  .section__line-img{
    max-width: 165px;
  }
  .section__line-img img{
    max-width: 165px;
  }
  .add-btn{
    display: flex;
  }
  .add-btnTo{
    margin-left: 0;
  }
}
.bestsellers__title{
  margin-bottom: 30px;
}
.reviews{
  margin-bottom: 40px;
}
.reviews__line{
  display: flex;
  border: 1px solid #E9EAEC;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px 25px 20px;
  & + &{
    margin-top: 20px;
  }
}
.reviews__line-img{
  margin-right: 20px;
  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 140px;
  }
}
.reviews__line-content{
  margin-right: 40px;
  max-width: 170px;
  width: 100%;
}
.reviews__line-title{
  color: #1F78C7;
}
.reviews__line-availability{
  font-size: 13px;
  color: #888;
  margin-top: 5px;
  padding-left: 20px;
  position: relative;
  &::before{
    content: "\ea10";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: $blue;
  }
}
.reviews__line-price{
  margin-top: 18px;
  font-size: 17px;
}
.reviews__line-name{
  font-weight: 700;
  margin-bottom: 15px;
}
.reviews__line-desription{
  max-width: 465px;
}
.selection{
  margin-bottom: 80px;
}
.selection-top{
  border: 1px solid #dbdbdc;
  margin-bottom: 45px;
  padding: 25px 25px;
  color: #232323;
  font-size: 15px;
  p{
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 24px;
  }
  p:last-child{
    margin-bottom: 0;
  }
  .selection-top__list{
    margin-left: 40px;
    li{
      color: #484848;
      font-size: 14px;
      margin-bottom: 18px;
      &:before{
        content: '';
        background: #2980B9;
        display: inline-block;
        vertical-align: middle;
        margin: 0 14px 0 0;
        width: 6px;
        height: 6px;
      }
    }
    span{
      font-weight: 700;
    }
  }
}
.selection-bottom{
  background-color: #f6f6f6;
  border-radius: 10px;
  border: 5px solid #f2f2f2;
  max-height: 880px;
  display: flex;
  align-items: center;
}
.selection-bottom__img{
  max-width: 300px;
  width: 100%;
  margin-right: 10px;
  img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.selection-bottom__content {
  font-size: 17px;
  p{
    margin-bottom: 15px;
  }
  a{
    color: #3873c3;
    font-size: 18px;
  }
}
.selection-bottom__title{
  margin-bottom: 15px;
  color: #3873c3;
  font-size: 28px;
}
.aside__banner{
  margin-top: 20px;
  width: 100%;
  img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.product__title{
  font-size: 30px;
  margin-bottom: 25px;
}
.product-cart{
  display: flex;
}
.img-slider__item{
  width: 400px;
  max-height: 400px;
  img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }  
}
.product-descripton{
  margin-left: 30px;
  border: 1px solid #E4E4E4;
  padding: 26px 35px 30px 35px;
  width: 376px;
  box-sizing: border-box;
  height: 100%;
  .section__line-pricebox{
    font-size: 30px;
    margin: 20px 0 10px;
    .section__line-price{
      font-weight: 400;
    }
  }
}
.product-descripton__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.give-feedback{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  &:hover span{
    color: $blue;
    border-bottom-color: $blue;
  }
  span{
    transition: all .3s;
    color: #444;
    border-bottom: 1px dotted #999;
  }
  &::before{
    position: absolute;
    content: "";
    left: 0;
    background-image: url(../img/review.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.product-descripton__buttons{
  margin: 30px 0 20px;
}
.product-descripton__buttons-wrapper{
  display: flex;
  margin-bottom: 15px;
}
.product-descripton__quantity{
  width: 105px;
  height: 48px;
  border: 1px solid #DDD;
  border-radius: 4px;
  background: #fff;
}
.product-descripton__basket{
  display: block;
  color: #fff;
  background: #66C209;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 12px;
  width: 187px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  &:hover{
    background: #9eff3b;
  }
  span + span{
    margin-left: 10px;
  }
}
.product-descripton__madeIn a,
.more-about-delivery,
.additionally-info__text,
.product-delivery__certificate{
  color: #1F78C7;
  border-bottom: 1px dotted #9DC6EA;
  font-size: 13px;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    color: #4d9de2;
  }
}


.buy-in-one-click{
  margin-top: 15px;
  width: 305px;
  border-radius: 4px;
  border: 1px solid #DDD;
  box-sizing: border-box;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  color: #333;
  justify-content: center;
  background: #fff;
  transition: all .3s;
  &:hover{
    border-color: rgb(143, 143, 143);
    color: $blue;
  }
  span + span{
    margin-left: 10px;
  }
}
.product-descripton__additional-information{
  display: flex;
  margin-bottom: 30px;
}
.product-descripton__additional-infoText{
  color: #666;
  font-size: 13px;
  border-bottom: 1px dotted #999;
  transition: all .2s;
  padding-top: 2px;
  &:hover{
    color: $blue;
  }
  &+&{
    margin-left: 30px;
  }
}
.product-descripton__madeIn-line{
  margin-bottom: 5px;
}
.product-descripton__madeIn-list{
  margin-bottom: 10px;
}
.product-delivery{
  margin-left: 30px;
}
.product-delivery__item{
  padding: 19px 0 20px;
  &+&{
    border-top: 1px solid #DDD;
  }
}
.product-delivery__line{
  margin-bottom: 15px;
}
.product-delivery__line-title{
  font-weight: 700;
  font-size: 16px;
}
.product-delivery__line-text{
  margin-top: 15px;
  font-size: 14px;
  line-height: 19px;
}
.additionally-info{
  padding-left: 40px;
  width: 105px;
  position: relative;
  &::before{
    content: "\ea12";
    position: absolute;
    left: 0;
    top: 10px;
    color: $blue;
    font-size: 30px;
    font-family: 'icomoon';
  }
  &+&{
    margin-left: 20px;
  }
}
.product-delivery__item-guarantee{
  padding-left: 40px;
  position: relative;
  &::before{
    content: "\ea12";
    position: absolute;
    left: 0;
    top: 10px;
    color: $blue;
    font-size: 30px;
    font-family: 'icomoon';
  }
}
.catigories{
  margin-top: 50px;
}
.catigories__items{
  margin-top: 27px;
}
.catigories-titles{
  display: flex;
  margin-bottom: 15px;
}
.catigories-titles__btn{
  font-size: 19px;
  color: #666;
  cursor: pointer;
  &.active{
    color: #1F78C7;
    padding-bottom: 2px;
    border-bottom: 3px solid #1F78C7;
  }
  &+&{
    margin-left: 25px;
  }
}
.catigories-supTitles__item{
  display: none;
  justify-content: space-between;
}
.catigories-supTitles__line{
  color: #555;    
  border-bottom: 1px dotted #999;
  display: inline-block;
  cursor: pointer;
  span{
    color: #999;
    border-bottom: none;
    margin-left: 5px;
  }
  &+&{
    margin-left: 10px;
  }
  &.active{
    padding: 4px 5px 4px 6px;
    background: #1F78C7;
    color: #fff;
    border-radius: 3px;
  }
}
.catigories-supTitles__btn{
  color: #555;    
  border-bottom: 1px dotted #999;
  height: fit-content;
}

.tabs{
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E9EAEC;
}

.tabs__nav {
  border: 1px solid #E6E6E6;
  display: flex;
}

.tabs__nav-btn {
  width: 195px;
  height: 60px;
  padding: 16px 15px 17px;
  border-right: 1px solid #E6E6E6;
  background: #F7F7F7;
  cursor: pointer;
  font-size: 15px;
  transition: all .3s;
  border-bottom: 4px solid transparent;
  &:last-child {
    border-right: none;
  }
  &:hover {
    background-color: #fff;
  }
  &.active {
    background: #fff;
    border-bottom: 4px solid #1F78C7;
    outline: none;
    color: #1F78C7;
  }
}
.tabs__content {
  padding-top: 35px;
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}
.tabs-item__descreption{
  display: flex;
}
.tabs-item__descreption-content{
  max-width: 720px;
  width: 100%;
}
.tabs-item__banner{
  margin-left: 70px;
  width: 380px;
  height: fit-content;
  margin-top: 4px;
  padding: 25px;
  background: url(../img/card-img-i1.png) no-repeat right bottom #EFFBFF;
  &-title{
    font-weight: 500;
    font-size: 17px;
    color: #333;
  }
  &-text{
    color: #555;
    font-size: 14px;
    line-height: 20px;
    margin-top: 9px;
  }
  &-link{
    margin-top: 14px;
    font-size: 15px;
    color: #1F78C7;
    border-bottom: 1px dotted #999;
    display: inline-block;
    cursor: pointer;
  }
}
.tabs-item__banner-content{
  width: 200px;
}
.product-characteristics{
  margin-top: 35px;
}
.product-characteristics__title{
  font-size: 21px;
}
.product-characteristics__inner{
  column-count: 2;
  column-gap: 70px;
  break-inside: avoid;
}
.product-characteristics__item{
  max-width: 535px;
  width: 100%;
  margin-bottom: 35px;
  display: inline-block;
}
.product-characteristics__item-title{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 18px;
}
.product-characteristics__item-line{
  display: flex;
  padding: 13px 15px 16px 15px;
  a{
    color: $blue;
  }
  &:nth-child(even){
    background: #F7F7F7;
  }
}
.product-characteristics__item-name{
  max-width: 304px;
  width: 100%;
}
.similar-products__title{
  margin-top: 38px;
}
.similar-products__inner{
  display: flex;
  flex-wrap: wrap;
  margin-left: -28px;
}
.similar-products__item{
  width: 144px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 28px;
}
.similar-products__item-img{
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 1px solid #E9EAEC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
  img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
  }
}
.similar-products__item-link{
  color: $blue;
}
.viewed-products{
  margin-top: 20px;
}
.viewed-products__buttons{
  margin-bottom: 20px;
}
.viewed-products__btn{
  display: inline-block;
  cursor: pointer;
  transition: all .2s;
  &:hover{
    color: $blue;
    .viewed-products__btn-text{
      border-bottom: none;
    }
    .num{
      color: $blue;
    }
  }
  .num{
    color: #999;
    margin-left: 5px;
  }
  &+&{
    margin-left: 25px;
  }
}
.viewed-products__btn-text{
  border-bottom: 1px dotted #999;  
}
.viewed-products__items{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  .section__line{
    flex-basis: calc(25% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }
}



@import "media";